.herobanner{
    grid-gap: 5px;
}

.herobanner_picture{
    display: grid;
    grid-template-columns: repeat(13,1fr);
}

.herobanner_picture_img{
    width: 100%;
    height: auto;
    grid-column-start: 2;
    grid-column-end: 13;
}

.herobanner_buttons {
    display: grid;
    grid-template-columns: repeat(13,1fr);
}