.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3.125rem 0;
}

.card_title {
    font-size: 1.375rem;
    font-weight: 800;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    text-align: center;
}

.card_description {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    text-align: center;
    color: #9E9DA2;
}