.picture_button{
    margin-right: 0.473;
}

.herobanner1{
    grid-column-start: 2;
    grid-column-end: 7;
}
.herobanner2{
    grid-column-start: 8;
    grid-column-end: 13;
}
.herobanner1,
.herobanner2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer1,
.footer2{
    margin: 0.5rem auto;
    width: 100%;
}