.navigation_desktop {
    display:grid;
    grid-template-columns: repeat(13,1fr);
    margin-top: 0.8rem;
}

.logo{
    width: 5.8rem;
    height: auto;
    grid-column-start: 2;
}
.navigation_links{
    display: none;
}

.navigation_links_mobile{
    display: none;
}

.mobile_menu{
    grid-column-start: 12;
}