.cardEx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3.125rem auto;
}

.cardEx_title,
.carEx_description {
    text-align: center;
}

.cardEx_head {
    width: 100%;
}

.cardEx_title {
    display: flex;
    align-items: center;
    font-size: 1.563;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0rem;
    text-align: left;
}

.cardEx_title_span {
    color: #75BF7A;
    letter-spacing: 0rem;
    font-weight: 500;
    text-align: left;
    font-size: 4.063rem;
    margin-right: 1.25rem;
}

.cardEx_picture {
    margin: 4.063rem auto 1.867;
}

.cardEx_description {
    color: #9E9DA2;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.063rem;
    letter-spacing: 0rem;
    text-align: center;

}