.footer {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

.footer_content {
    grid-column-start: 4;
    grid-column-end: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_section {
    margin: 1rem auto;
}

.footer_title {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.688rem;
    text-align: center;
}

.footer_description {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: center;
    color: #8B8BA5;
}

.footer_copyrigth {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.188rem;
    text-align: center;
    color: #9E9DA2;
}

.footer_logo{
    margin: 1rem auto;
}