.content {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

.content_herobanner,
.content_main,
.content_description {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 13;
}

.content_herobanner{
    font-size: 2.2rem;
    line-height: 2.4rem;
    margin: 31px 0 25px 0;
}

.content_description{
    color: #9E9DA2;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 500;
    margin-bottom: 1.563rem;
}