html,
body {
  padding: 0;
  margin: 0;
  font-family: Gilroy, sans-serif;
    
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  width: 100%;
  padding: 0.413rem 1.5rem;
  border: none;
  border-radius: 0.182rem;
  background-color: black;
  color: white;
  font-weight: 800;
  font-size: 0.894rem;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}

button:hover{
  transition: 0.3s ease-in;
  background-color: #75BF7A;
}

