.cta,
.section{
    display: grid;
    grid-template-columns: repeat(13,1fr);
}
.cta{
    margin-top: 4.125rem;
}
.cta_content,
.section_content{
    grid-column-start: 2;
    grid-column-end: 13;
}
.cta_content{
    background-color:#75BF7A;
    padding: 0 7% 7% 7%;
    border-radius: 0.313rem;
}

.cta_text,
.cta_input{
    width: 100%;
}

.cta_input{
    margin: 0 auto 1.25rem auto;
}

.cta_text{
    line-height: 1.75rem;
font-size: 1.538rem;
}

.cta_input{
    padding: 0.75rem 1.25rem;
    border: none;
}

/* Section */
.section{
}

.section_title{
    font-weight: 800;
    text-align: center;
    line-height: 3.147rem;
    font-size: 1.5rem;
    margin-top: 2.813rem;
}
.title_span{
    color: #75BF7A;
}

.section_description{
    line-height: 1.375rem;
    font-size: 1.125rem;
    font-weight: 500;
    color: #9E9DA2;
}
.caroussel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../public/Ellipse\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.caroussel_image{
    width: 70%;
    height: auto;
}